.container {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
}

/*퍼온 거*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke: none;
  backface-visibility: hidden;
}